
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Times New Roman', Times, serif;
}

body{
    background: #fbf5f5;
}

.signup-container{
    display:flex;
    height:100vh;
}

.leftPanel{
    width:50%;
    background: #276462;
    color:white;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    position:relative;
}

.logo{
  position:absolute;
  top:40px;
  left:50px;
  font-size:24px;
  font-weight:700;
}

.content-left{
    max-width:420px;
}

.welcome{
  font-size:13px;
  margin-bottom:18px;
  opacity:0.9;
  letter-spacing:1px;
}

.content-left h1{
  font-size:58px;
  line-height:1.1;
  margin-bottom:20px;
}

.content-left p{
  font-size:16px;
  line-height:1.7;
  opacity:0.9;
}

.description{
  font-size:18px;
  line-height:1.8;
  opacity:0.9;
}

.rightPanel{
  width:50%;
  background:#f8f9fb;
  display:flex;
  justify-content:center;
  align-items:center;
}

.formBox{
  width:360px;
}

.formBox h2{
  font-size:42px;
  font-weight:700;
  color:#1f2937;
  margin-bottom:10px;
}

.subtitle{
  color:#6b7280;
  font-size:14px;
  margin-bottom:30px;
}

form{
  display:flex;
  flex-direction:column;
}

label{
  font-size:14px;
  font-weight:600;
  color:#374151;
  margin-bottom:8px;
}

input{
  width:100%;
  padding:16px;
  border:1px solid #e5e7eb;
  border-radius:14px;
  margin-bottom:20px;
  font-size:14px;
  outline:none;
  background:white;
}

input:focus{
  border-color:#006d66;
}

.passwordTop{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.passwordTop{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.passwordTop{
  display:flex;
  justify-content:space-between;
  align-items:center;
}